<%= form_for Contact.new do |f| %>

  <% flash.each do |key, value| %>
    <% if key == 'success' %>
      <div class="alert-success">
        <%= value %>
      </div>
    <% else %>
    <div class="alert-error">
      <%= value %>
    </div>
    <% end %>
  <% end %>
  <div class="email-forms">
    <div class="row">
      <div class="col-1">
        <%= f.text_field :name, class: "name-form", placeholder: "Nome", require: true %>
      </div>
      <div class="col-2">
        <%= f.text_field :email, class: "e-form", placeholder: "E-mail", requeire: true %>
      </div>
    </div>
    <%= f.text_area :message, class: "text-1", placeholder: "Mensagem...", require: true %>
    <%= f.submit 'ENVIAR MENSAGEM', class:'btn-submit' %>
  </div>
<% end %>
